.footer-wrapper{
    min-height : 40rem;
    width: 100%;
    background-color: #5F37EF;
    margin-top: -4rem;
    z-index: 4000;
}

//Large Desktop
@media (max-width: 1440px) {
   
}
//Laptop
@media (max-width: 1024px) {
    
}
//Tablets
@media (max-width: 768px) {
   
}
//Mobile
@media (max-width: 425px) {
  
}