.branding-wrapper {
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-top: 6rem;
  background: linear-gradient(180deg, #E5EFFF 0%, rgba(229, 239, 255, 0.262661) 83.7%, rgba(229, 239, 255, 0) 100%);;
  .left-section-wrapper {
    width: 60%;
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    color: #272d4e;
    .title {
      display: inline-block;
      width: 90%;
      font-size: 4rem;
      font-family: "Ubuntu", sans-serif;
      margin-bottom: 1rem;
      opacity: 0;
    }
    .sub-title {
      display: inline-block;
      width: 50%;
      font-size: 14px;
      color: #94a2b3;
    }
    .btn-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      .start-btn {
        display: inline-block;
        width: 10rem;
        height: 3rem;
        border-radius: 25px;
        background-color: #7854f7;
        color: white;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover{
          background-color: #9479f4;
          transform: scale(1.1);
        }
      }
      .or-label {
        font-size: 14px;
        color: #94a2b3;
        margin: 0 1rem;
      }
      .customize-label {
        color: #299ef3;
        font-weight: 900;
        font-family: "Ubuntu", sans-serif;
        cursor: pointer;
        transition: 0.3s ease;
        &:hover{
          text-decoration: underline;
          transform: scale(1.1);
        }
      }
    }
  }
  .right-section-wrapper {
    flex: 1;
    width: 100%;
    position: relative;
    .bg-dotted {
      z-index: 1000;
      height: 10rem;
      width: 8rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("data:image/svg+xml,%3Csvg width='553' height='251' viewBox='0 0 553 251' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='548.7' cy='4.21479' r='4.12556' transform='rotate(90 548.7 4.21479)' fill='%2329AAF3'/%3E%3Ccircle cx='548.7' cy='64.7226' r='4.12556' transform='rotate(90 548.7 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='548.7' cy='125.231' r='4.12556' transform='rotate(90 548.7 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='548.7' cy='185.739' r='4.12556' transform='rotate(90 548.7 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='548.7' cy='246.247' r='4.12556' transform='rotate(90 548.7 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='488.192' cy='4.21443' r='4.12556' transform='rotate(90 488.192 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='488.192' cy='64.7226' r='4.12556' transform='rotate(90 488.192 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='488.192' cy='125.231' r='4.12556' transform='rotate(90 488.192 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='488.192' cy='185.739' r='4.12556' transform='rotate(90 488.192 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='488.192' cy='246.247' r='4.12556' transform='rotate(90 488.192 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='427.683' cy='4.21443' r='4.12556' transform='rotate(90 427.683 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='427.683' cy='64.7226' r='4.12556' transform='rotate(90 427.683 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='427.683' cy='125.231' r='4.12556' transform='rotate(90 427.683 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='427.683' cy='185.739' r='4.12556' transform='rotate(90 427.683 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='427.683' cy='246.247' r='4.12556' transform='rotate(90 427.683 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='367.175' cy='4.21443' r='4.12556' transform='rotate(90 367.175 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='367.175' cy='64.7226' r='4.12556' transform='rotate(90 367.175 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='367.175' cy='125.231' r='4.12556' transform='rotate(90 367.175 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='367.175' cy='185.739' r='4.12556' transform='rotate(90 367.175 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='367.175' cy='246.247' r='4.12556' transform='rotate(90 367.175 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='306.666' cy='4.21443' r='4.12556' transform='rotate(90 306.666 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='306.667' cy='64.7226' r='4.12556' transform='rotate(90 306.667 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='306.667' cy='125.231' r='4.12556' transform='rotate(90 306.667 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='306.667' cy='185.739' r='4.12556' transform='rotate(90 306.667 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='306.667' cy='246.247' r='4.12556' transform='rotate(90 306.667 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='246.159' cy='4.21443' r='4.12556' transform='rotate(90 246.159 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='246.159' cy='64.7226' r='4.12556' transform='rotate(90 246.159 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='246.159' cy='125.231' r='4.12556' transform='rotate(90 246.159 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='246.159' cy='185.739' r='4.12556' transform='rotate(90 246.159 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='246.159' cy='246.247' r='4.12556' transform='rotate(90 246.159 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='185.65' cy='4.21443' r='4.12556' transform='rotate(90 185.65 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='185.65' cy='64.7226' r='4.12556' transform='rotate(90 185.65 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='185.65' cy='125.231' r='4.12556' transform='rotate(90 185.65 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='185.65' cy='185.739' r='4.12556' transform='rotate(90 185.65 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='185.65' cy='246.247' r='4.12556' transform='rotate(90 185.65 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='125.142' cy='4.21443' r='4.12556' transform='rotate(90 125.142 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='125.142' cy='64.7226' r='4.12556' transform='rotate(90 125.142 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='125.142' cy='125.231' r='4.12556' transform='rotate(90 125.142 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='125.142' cy='185.739' r='4.12556' transform='rotate(90 125.142 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='125.142' cy='246.247' r='4.12556' transform='rotate(90 125.142 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='64.6337' cy='4.21443' r='4.12556' transform='rotate(90 64.6337 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='64.6337' cy='64.7226' r='4.12556' transform='rotate(90 64.6337 64.7226)' fill='%2329AAF3'/%3E%3Ccircle cx='64.6337' cy='125.231' r='4.12556' transform='rotate(90 64.6337 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='64.6337' cy='185.739' r='4.12556' transform='rotate(90 64.6337 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='64.6337' cy='246.247' r='4.12556' transform='rotate(90 64.6337 246.247)' fill='%2329AAF3'/%3E%3Ccircle cx='4.12542' cy='4.21443' r='4.12556' transform='rotate(90 4.12542 4.21443)' fill='%2329AAF3'/%3E%3Ccircle cx='4.12542' cy='64.7227' r='4.12556' transform='rotate(90 4.12542 64.7227)' fill='%2329AAF3'/%3E%3Ccircle cx='4.12542' cy='125.231' r='4.12556' transform='rotate(90 4.12542 125.231)' fill='%2329AAF3'/%3E%3Ccircle cx='4.12542' cy='185.739' r='4.12556' transform='rotate(90 4.12542 185.739)' fill='%2329AAF3'/%3E%3Ccircle cx='4.12542' cy='246.247' r='4.12556' transform='rotate(90 4.12542 246.247)' fill='%2329AAF3'/%3E%3C/svg%3E%0A");
      &.first {
        position: absolute;
        left: -35%;
        top: 15%;
      }
      &.second {
        position: absolute;
        left: 40%;
        top: -10%;
      }
      &.third {
        position: absolute;
        right: 10%;
        bottom: 0%;
      }
    }
    .add-cart-wrapper {
      width: 28rem;
      position: absolute;
      top: 10%;
      right: 20%;
      z-index: 2000;
      height: 13rem;
      display: flex;
      flex-direction: row;
      position: relative;
      .img-container {
        height: 100%;
        width: 50%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url("../../assets/imgs/Photo.png");
      }
      .cart-container {
        background-color: #ffffff;
        height: 100%;
        flex: 1;
        padding: 16px;
        box-sizing: border-box;
        .cart-contents {
          height: 100%;
          width: 100%;
          display: flex;
          flex-direction: column;
          .title-wrapper {
            display: flex;
            flex-direction: row;
            color: #272d4e;
            .title {
              font-size: 14px;
              font-family: "Lato", sans-serif;
              display: inline-block;
              margin-right: 1rem;
            }
            .sub-title {
              font-size: 14px;
              color: #868686;
              font-family: "Lato", sans-serif;
            }
          }
          .brand-name {
            height: 2rem;
            width: 100%;
            font-size: 24px;
            font-weight: 100;
            margin-top: 1rem;
          }
          .size-display-wrapper {
            margin-top: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            justify-content: flex-start;
            .size-wrapper {
              height: 1.2rem;
              width: 1.2rem;
              background-color: #f6f6f6;
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 10px;
              cursor: pointer;
              transition: 0.1s ease;
              margin-right: 5px;
              &:hover {
                background-color: white;
              }
            }
          }
          .items-counter-wrapper {
            height: 3rem;
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 2fr;
            .purchase-amount-wrapper {
              height: 100%;
              position: relative;
              .amount {
                position: absolute;
                left: 20%;
                top: 10%;
                font-size: 16px;
                color: #7854f7;
                font-family: "Lato", sans-serif;
              }
              .discount {
                position: absolute;
                right: 10%;
                bottom: 0;
                font-size: 14px;
                color: #868686;
                font-family: "Lato", sans-serif;
                text-decoration: line-through;
              }
            }
            .counter-wrapper {
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              .counter {
                height: 70%;
                width: 90%;
                background-color: #f2f2f2;
                display: grid;
                grid-template-columns: 1fr 2fr 1fr;
                font-family: "Lato", sans-serif;
                .minus {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  &:hover {
                    background-color: white;
                  }
                }
                .value {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  font-size: 12px;
                }
                .add {
                  height: 100%;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  cursor: pointer;
                  &:hover {
                    background-color: white;
                  }
                }
              }
            }
          }
          .add-to-cart-btn-wrapper{
            height: 2rem;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            .btn{
                width: 100%;
                height: 1.5rem;
                border-radius: 3px;
                font-size: 10px;
                cursor: pointer;
                background-color: #7854F7;
                color: white;
                font-size: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                outline: none;
                border : none;
                transition: 0.3s ease;
                margin-top: 0.5rem;
                &:hover{
                  transform: scale(1.1);
                }
            }
        }
        }
      }
      .cart-icon-wrapper {
        position: absolute;
        left: -3%;
        top: 80%;
        height: 2rem;
        width: 2rem;
        border-radius: 50%;
        background-color: #ffba49;
        display: flex;
        align-items: center;
        justify-content: center;
        .cart-icon {
          height: 1rem;
          width: 1rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg width='37' height='34' viewBox='0 0 37 34' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.0137 7.6162H35.0715C35.3676 7.61718 35.6591 7.68965 35.9212 7.82745C36.1833 7.96525 36.4082 8.16431 36.5769 8.40769C36.7456 8.65107 36.853 8.93159 36.89 9.22539C36.927 9.51919 36.8926 9.81758 36.7895 10.0952L31.2888 24.7639C31.0192 25.4771 30.3353 25.952 29.5707 25.952H14.9021C14.1631 25.952 13.4939 25.5065 13.2097 24.8244L4.51298 3.94903H0.233398V0.28187H4.51115C5.23551 0.280236 5.94405 0.4937 6.54696 0.895206C7.14988 1.29671 7.62001 1.86818 7.89777 2.53718L10.0137 7.6162ZM24.07 18.6177H27.7371V14.9505H24.07V11.2834H20.4028V14.9505H16.7356V18.6177H20.4028V22.2849H24.07V18.6177ZM15.8188 33.2863C17.3378 33.2863 18.5692 32.0549 18.5692 30.5359C18.5692 29.0169 17.3378 27.7855 15.8188 27.7855C14.2998 27.7855 13.0684 29.0169 13.0684 30.5359C13.0684 32.0549 14.2998 33.2863 15.8188 33.2863ZM28.6538 33.2863C30.1728 33.2863 31.4042 32.0549 31.4042 30.5359C31.4042 29.0169 30.1728 27.7855 28.6538 27.7855C27.1349 27.7855 25.9035 29.0169 25.9035 30.5359C25.9035 32.0549 27.1349 33.2863 28.6538 33.2863Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
      .shield-icon-wrapper {
        height: 2rem;
        width: 3rem;
        border-radius: 20px;
        background-color: #ef4358;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: -20%;
        left: 65%;
        z-index: 3000;
        .shield-icon {
          height: 1rem;
          width: 1rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg width='33' height='36' viewBox='0 0 33 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.8819 35.361C16.4024 35.6389 17.0557 35.6372 17.5762 35.3592C31.7601 27.7397 32.7674 12.8529 32.755 8.62004C32.7537 8.27984 32.6532 7.94741 32.4657 7.66347C32.2783 7.37953 32.0122 7.15641 31.6999 7.02143L17.4487 0.708403C17.2219 0.608431 16.9767 0.556947 16.7289 0.557252C16.481 0.557557 16.236 0.609644 16.0094 0.710173L1.85733 7.0232C1.54963 7.15825 1.28725 7.37891 1.10144 7.65888C0.915627 7.93886 0.814215 8.26635 0.809286 8.60234C0.749094 12.814 1.59709 27.7326 15.8819 35.361ZM10.9002 15.0712L14.9596 19.1305L22.5597 11.5305L25.0629 14.0337L14.9596 24.1371L8.39695 17.5744L10.9002 15.0712Z' fill='white'/%3E%3C/svg%3E%0A");
        }
      }
    }
    .sale-label-wrapper {
      height: 2rem;
      width: 5rem;
      border-radius: 20px;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: 30%;
      top: -8%;
      z-index: 3000;
      background: linear-gradient(-45deg, #70c217, #e73c7e, #70c217, #23d5ab);
      background-size: 400% 400%;
      animation: gradient 2s ease infinite;
      @keyframes gradient {
        0% {
          background-position: 0% 50%;
        }
        50% {
          background-position: 100% 50%;
        }
        100% {
          background-position: 0% 50%;
        }
      }
    }
    .group-image {
      height: 10rem;
      width: 10rem;
      border-radius: 6px;
      position: absolute;
      z-index: 3000;
      top: -10%;
      left: -30%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../../assets/imgs/Group\ 10.png");
    }
    .stripe-wrapper {
      height: 12rem;
      width: 12rem;
      border-radius: 12px;
      position: absolute;
      z-index: 3000;
      bottom: 0%;
      left: 0%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url('../../assets/imgs/Group\ 9\ \(1\).svg');
    }
  }
}

//Large Desktop
@media (max-width: 1440px) {
  .branding-wrapper {
    .left-section-wrapper {
      .title {
      }
      .sub-title {
      }
      .btn-wrapper {
        .start-btn {
        }
        .or-label {
        }
        .customize-label {
        }
      }
    }
    .right-section-wrapper {
      .bg-dotted {
        &.first {
        }
        &.second {
        }
        &.third {
        }
      }
      .add-cart-wrapper {
        .img-container {
        }
        .cart-container {
          .cart-contents {
            .title-wrapper {
              .title {
              }
              .sub-title {
              }
            }
            .brand-name {
            }
            .size-display-wrapper {
              .size-wrapper {
                &:hover {
                }
              }
            }
            .items-counter-wrapper {
              .purchase-amount-wrapper {
                .amount {
                }
                .discount {
                }
              }
              .counter-wrapper {
                .counter {
                  .minus {
                    &:hover {
                    }
                  }
                  .value {
                  }
                  .add {
                    &:hover {
                    }
                  }
                }
              }
            }
            .add-to-cart-btn-wrapper{
                height: 2rem;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                .btn{

                }
            }
          }
        }
        .cart-icon-wrapper {
          .cart-icon {
          }
        }
        .shield-icon-wrapper {
           
            .shield-icon {
             
            }
          }
      }
      .sale-label-wrapper {
      }
      .group-image {
      }
      .stripe-wrapper {
          bottom: 10%;
          left: 5%;
      }
    }
  }
}
//Laptop
@media (max-width: 1024px) {
    .branding-wrapper {
        .left-section-wrapper {
            grid-template-rows: 2fr 1fr 1fr;
          .title {
            font-size: 3rem;
          }
          .sub-title {
          }
          .btn-wrapper {
            .start-btn {
            }
            .or-label {
            }
            .customize-label {
            }
          }
        }
        .right-section-wrapper {
          .bg-dotted {
            &.first {
                left: -20%;
            }
            &.second {
            }
            &.third {
            }
          }
          .add-cart-wrapper {
            right: 10%;
            .img-container {
                padding: 5px;
            }
            .cart-container {
                padding: 5px;
              .cart-contents {
                .title-wrapper {
                  .title {
                  }
                  .sub-title {
                  }
                }
                .brand-name {
                    font-size: 18px;
                }
                .size-display-wrapper {
                  .size-wrapper {
                    &:hover {
                    }
                  }
                }
                .items-counter-wrapper {
                  .purchase-amount-wrapper {
                    .amount {
                    }
                    .discount {
                    }
                  }
                  .counter-wrapper {
                    .counter {
                      .minus {
                        &:hover {
                        }
                      }
                      .value {
                      }
                      .add {
                        &:hover {
                        }
                      }
                    }
                  }
                }
              }
            }
            .cart-icon-wrapper {
              .cart-icon {
              }
            }
            .shield-icon-wrapper {
                bottom: -12%;
                left: 55%;
                .shield-icon {
                 
                }
              }
          }
          .sale-label-wrapper {
          }
          .group-image {
            left: -20%;
          }
          .stripe-wrapper {
          }
        }
      }
}
//Tablets
@media (max-width: 768px) {
    .branding-wrapper {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2rem;
        .left-section-wrapper {
            width: 100%;
            padding-left: 0%;
          .title {
            margin-left: 3rem;
          }
          .sub-title {
            margin-left: 3rem;
          }
          .btn-wrapper {
            margin-left: 3rem;
            .start-btn {
            }
            .or-label {
            }
            .customize-label {
            }
          }
        }
        .right-section-wrapper {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 5rem;
          .bg-dotted {
            &.first {
                left: 0;
            }
            &.second {
            }
            &.third {
            }
          }
          .add-cart-wrapper {
            .img-container {
            }
            .cart-container {
              .cart-contents {
                .title-wrapper {
                  .title {
                  }
                  .sub-title {
                  }
                }
                .brand-name {
                }
                .size-display-wrapper {
                  .size-wrapper {
                    &:hover {
                    }
                  }
                }
                .items-counter-wrapper {
                  .purchase-amount-wrapper {
                    .amount {
                    }
                    .discount {
                    }
                  }
                  .counter-wrapper {
                    .counter {
                      .minus {
                        &:hover {
                        }
                      }
                      .value {
                      }
                      .add {
                        &:hover {
                        }
                      }
                    }
                  }
                }
              }
            }
            .cart-icon-wrapper {
              .cart-icon {
              }
            }
            .shield-icon-wrapper {
           
                .shield-icon {
                 
                }
              }
          }
          .sale-label-wrapper {
          }
          .group-image {
            left: 5%;
            top: -30%;
          }
          .stripe-wrapper {
            bottom: -40%;
            left: 15%;
          }
        }
      }
}
//Mobile
@media (max-width: 425px) {
    .branding-wrapper {
        .left-section-wrapper {
            grid-template-rows: 2fr 1fr 1fr;
          .title {
            margin-left: 2rem;
            font-size: 2.5rem;
          }
          .sub-title {
              margin-left: 2rem;  
              width: 80%;
              margin-top: -20%;
          }
          .btn-wrapper {
            flex-direction: column;
            align-items: flex-start;
            margin-left: 2rem;
            margin-top: -6vw;
            .start-btn {
              margin-bottom: 1rem;
            }
            .or-label {
              margin-bottom: 1rem;
            }
            .customize-label {
              margin-bottom: 1rem;
              margin-left: 10px;
            }
          }
        }
        .right-section-wrapper {
            width: 90%;
          .bg-dotted {
            &.first {
            }
            &.second {
            }
            &.third {
            }
          }
          .add-cart-wrapper {
            right: 0;
            height: 12rem;
            .img-container {
                background-size: cover;
            }
            .cart-container {
              padding: 1rem;
              box-sizing: border-box;
              .cart-contents {
                .title-wrapper {
                  .title {
                      font-size: 12px;
                  }
                  .sub-title {
                    font-size: 12px;
                    white-space: nowrap;
                  }
                }
                .brand-name {
                    font-size: 16px;
                }
                .size-display-wrapper {
                  margin-top: 1rem;
                  .size-wrapper {
                    &:hover {
                    }
                  }
                }
                .items-counter-wrapper {
                  .purchase-amount-wrapper {
                    .amount {
                        font-size: 12px;
                    }
                    .discount {
                        right: 10%;
                        bottom: 12%;
                        font-size: 10px;
                    }
                  }
                  .counter-wrapper {
                    .counter {
                      .minus {
                        &:hover {
                        }
                      }
                      .value {
                      }
                      .add {
                        &:hover {
                        }
                      }
                    }
                  }
                }
                .add-to-cart-btn-wrapper{
                  .btn{
                
                  }
                }
              }
            }
            .cart-icon-wrapper {
              .cart-icon {
              }
            }
            .shield-icon-wrapper {
                left: 60%;
                bottom: -20%;
                .shield-icon {
                 
                }
              }
          }
          .sale-label-wrapper {
            left: 30%;
            top: -8%;
            width: 3rem;
            font-size: 12px;
          }
          .group-image {
              height: 6rem;
              top : -20%;
              left: -12%;
              background-size: contain;
          }
          .stripe-wrapper {
            height: 10rem;
            width: 10rem;
            bottom: -50%;
            left: 16%;
          }
        }
      }
}
