@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

.header-parent{
  position: sticky;
  top: 0;
  min-height: 4rem;
  width: 100%;
  z-index: 9999;
  background-color: #E5EFFF;
  .mobile-view-header{
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .hemberger{
      padding-left: 3rem;
      height: 2rem;
      width: 2rem;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("../../assets/imgs/1814109_hamburger_menu_icon\ \(1\).png");
    }
    .brand-name {
      display: flex;
      justify-content: flex-end;
      padding-right: 1rem;
      flex : 1;
      font-weight: 1000;
      font-size: 1rem;
      font-family: "Ubuntu", sans-serif;
      cursor: pointer;
      color: white;
    }
  }
  .header-wrapper {
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .nav-option-wrapper {
      height: 3rem;
      width: 100%;
      display: grid;
      grid-template-columns: 3fr 1fr;
      color: #272d4e;
      .close{
        display: none;
      }
      .nav-options {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 0 2rem;
        .brand-name {
          font-weight: 1000;
          font-size: 1.2rem;
          margin-right: 3rem;
          font-family: "Ubuntu", sans-serif;
          cursor: pointer;
        }
        .nav {
          font-size: 14px;
          margin-right: 18px;
          font-family: "Lato", sans-serif;
          cursor: pointer;
        }
      }
      .btn-actions-wrapper {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0 2rem;
        .login {
          font-size: 14px;
          margin-right: 1.2rem;
          font-family: "Lato", sans-serif;
          cursor: pointer;
        }
        .get-started {
          display: inline-block;
          height: 2.3rem;
          width: 6rem;
          border-radius: 5px;
          background-color: #7854f7;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-right: 1.2rem;
          font-family: "Lato", sans-serif;
          font-size: 14px;
          cursor: pointer;
        }
        .search {
          cursor: pointer;
          height: 1rem;
          width: 1rem;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' viewBox='0 0 16 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7812 13.8344L12.6656 10.7188C12.525 10.5781 12.3344 10.5 12.1344 10.5H11.625C12.4875 9.39688 13 8.00937 13 6.5C13 2.90937 10.0906 0 6.5 0C2.90937 0 0 2.90937 0 6.5C0 10.0906 2.90937 13 6.5 13C8.00937 13 9.39688 12.4875 10.5 11.625V12.1344C10.5 12.3344 10.5781 12.525 10.7188 12.6656L13.8344 15.7812C14.1281 16.075 14.6031 16.075 14.8938 15.7812L15.7781 14.8969C16.0719 14.6031 16.0719 14.1281 15.7812 13.8344ZM6.5 10.5C4.29063 10.5 2.5 8.7125 2.5 6.5C2.5 4.29063 4.2875 2.5 6.5 2.5C8.70938 2.5 10.5 4.2875 10.5 6.5C10.5 8.70938 8.7125 10.5 6.5 10.5Z' fill='%23272D4E'/%3E%3C/svg%3E%0A");
        }
      }
    }
  }
}

//Large Desktop
@media (max-width: 1440px) {
 .header-parent{
  .header-wrapper {
    .nav-option-wrapper {
      .nav-options {
        .brand-name {
        }
        .nav {
        }
      }
      .btn-actions-wrapper {
        .login {
        }
        .get-started {
        }
        .search {
        }
      }
    }
  }
 }
}
//Laptop
@media (max-width: 1024px) {  
.header-parent{
  .header-wrapper {
    .nav-option-wrapper {
      .nav-options {
        .brand-name {
        }
        .nav {
        }
      }
      .btn-actions-wrapper {
        .login {
        }
        .get-started {
        }
        .search {
        }
      }
    }
  }
}
}
//Tablets
@media (max-width: 768px) {
 .header-parent{
  .header-wrapper {
    .nav-option-wrapper {
        grid-template-columns: 2fr 1fr;
      .nav-options {
        .brand-name {
            margin-right: 2rem;
            font-size: 1rem;
        }
        .nav {
            font-size: 12px;
        }
      }
      .btn-actions-wrapper {
        padding: 0 1rem;
        .login {
            margin-right: 1rem;
            font-size: 12px;
        }
        .get-started {
            font-size: 12px;
        }
        .search {
        }
      }
    }
  }
 }
}
//Mobile
@media (max-width: 425px) {
.header-parent{
  background-color: #0b0422;
  min-height: 4rem;
  position: sticky;
  top: 0;
  z-index: 5000;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;  .header-wrapper {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: #598fc6;
    z-index: 5000;
    overflow: hidden;
    align-items: flex-start;
    overflow: hidden;
    padding-top: 10%;
    .nav-option-wrapper {          
      color: white;
      grid-template-columns: none;
      grid-template-rows: 1fr 1fr;
      height: 100vh;
      position: relative;
      .close{
        display: flex;
        position: absolute;
        height: 2rem;
        width: 2rem;
        right: 5%;
        top: 0%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url('../../assets/imgs/2931151_close_delete_exit_remove_x_icon\ \(1\).png');
      }
      .nav-options {
        height: 100%;
        display: flex;
        align-items:center;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0 1rem;
        .brand-name {
          font-size: 2rem;
          margin-bottom: 3rem;
        }
        .nav {
          margin-bottom: 1rem;
          font-size: 20px;          
        }
      }
      .btn-actions-wrapper {
        justify-content: center;
        padding: 0 1rem;
        flex-direction: unset;
        .login {
        }
        .get-started {
        }
        .search {
        }
      }
    }
  }
}
}
